<section class="additional-info">
  <h3>{{ _('Additional Info') }}</h3>
  <table class="table table-striped table-bordered table-condensed">
    <thead>
      <tr>
        <th scope="col">{{ _('Field') }}</th>
        <th scope="col">{{ _('Value') }}</th>
      </tr>
    </thead>
    <tbody>
      {% block package_additional_info %}
        {% if pkg_dict.url %}
          <tr>
            <th scope="row" class="dataset-label">{{ _('Source') }}</th>
            {% if h.is_url(pkg_dict.url) %}
              <td class="dataset-details" property="foaf:homepage">{{ h.link_to(pkg_dict.url, pkg_dict.url, rel='foaf:homepage', target='_blank') }}</td>
            {% else %}
              <td class="dataset-details" property="foaf:homepage">{{ pkg_dict.url }}</td>
            {% endif %}
          </tr>
        {% endif %}

        {% if pkg_dict.author_email and false %}
          <tr>
            <th scope="row" class="dataset-label">{{ _("Author") }}</th>
            <td class="dataset-details" property="dc:creator">{{ h.mail_to(email_address=pkg_dict.author_email, name=pkg_dict.author) }}</td>
          </tr>
        {% elif pkg_dict.author %}
          <tr>
            <th scope="row" class="dataset-label">{{ _("Author") }}</th>
            <td class="dataset-details" property="dc:creator">{{ pkg_dict.author }}</td>
          </tr>
        {% endif %}

	{% if false %}
	<tr>
	    <th>Author (extended)</th>
	    <td>
		{% set list1 = pkg_dict.author.split(';') %}
		{% for list in list1 %}
			<p><a href="mailto:info@gfz.de">{{ list }}</a></p>
		{% endfor %}
	    </td>	
	</tr>
	{% endif %}
        
	{% if false %}
	  {% if pkg_dict.maintainer_email %}
            <tr>
              <th scope="row" class="dataset-label">{{ _('Maintainer') }}</th>
              <td class="dataset-details" property="dc:contributor">{{ h.mail_to(email_address=pkg_dict.maintainer_email, name=pkg_dict.maintainer) }}</td>
            </tr>
          {% elif pkg_dict.maintainer %}
            <tr>
              <th scope="row" class="dataset-label">{{ _('Maintainer') }}</th>
              <td class="dataset-details" property="dc:contributor">{{ pkg_dict.maintainer }}</td>
            </tr>
          {% endif %}
	{% endif %}

        <tr>
          <th scope="row" class="dataset-label">{{ _('Provided by') }}</th>
          <td class="dataset-details" property="dc:contributor">
	   {# dit moet nog anders!! #}
	   {% if pkg_dict.maintainer.startswith('GFZ') %} 
		<a href="http://pmd.gfz-potsdam.de/portal/" target="_new">{{ pkg_dict.maintainer }}</a>
	   {% else %}
		{{ pkg_dict.maintainer }}
           {% endif %} 
	   </td>
	</tr>

	{% if pkg_dict.version %}
          <tr>
            <th scope="row" class="dataset-label">{{ _("Version") }}</th>
            <td class="dataset-details">{{ pkg_dict.version }}</td>
          </tr>
        {% endif %}

        {% if h.check_access('package_update',{'id':pkg_dict.id}) %}
        {% endif %}

      {% block extras scoped %}
        {% for extra in h.sorted_extras(pkg_dict.extras) %}
          {% set key, value = extra %}

          {% if _(key)=='References' or _(key)=='Cites' or _(key)=='Is supplement to'  %}
	     <tr>
	        <th>{{ _(key) }}
                </th>
		<td>
                  {% set list1 = value.split(' -------- ') %}
                  {% for list in list1 %}
                        {% set list2 = list.split('doi:') %}
			<p><a href="http://doi.org/{{ list2.1 }}" target="_new">{{ list2.0 }}</a></p>
                  {% endfor %}
		</td>	
             </tr>
	  {% else %}
            <tr rel="dc:relation" resource="_:extra{{ i }}">
              <th scope="row" class="dataset-label" property="rdfs:label">{{ _(key) }}</th>
              <td class="dataset-details" property="rdf:value">{{ value }}</td>
            </tr>
	  {% endif %}
        {% endfor %}
      {% endblock %}

      {% endblock %}
    </tbody>
  </table>
</section>
